{% extends 'apps/products/base.html' %}
{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Amount</th>
      <th scope="col">Price</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
{% for cart_item in cart_item %}
        <tr>
          <th scope="row">{{ cart_item.id}}</th>
          <td>{{ cart_item.product }}</td>
          <td>{{ cart_item.amount }}</td>
          <td>{{ cart_item.total_price }}</td>
            <form method="post">
                {% csrf_token %}
               <td><button class="btn btn-outline-secondary" type="submit">Update</button></td>
               <td><button class="btn btn-outline-danger" type="submit" href="#">Delete</button></td>
            </form>
        </tr>
{% endfor %}
  </tbody>

</table>
{% endblock %}