{% extends 'apps/products/base.html' %}
{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Amount</th>
      <th scope="col">Price</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>

        <tr>
          <th scope="row">{{ cartitem.id}}</th>
          <td>{{ cartitem.product }}</td>
          <td>{{ cartitem.amount }}</td>
          <td>{{ cartitem.total_price }}</td>
            <form method="post">
                {% csrf_token %}

               <td><button class="btn btn-outline-secondary" type="submit" href="#">Update</button></td>
               <td><button class="btn btn-outline-danger" type="submit" href="#">Delete</button></td>
            </form>
        </tr>

  </tbody>

</table>
{% endblock %}